python-dotenv
#bs4
trafilatura
notion-client

openai-whisper

rank_llm

langgraph
langgraph_supervisor

langchain_core
langchain
langchain_community
langchain_huggingface
langchain_openai
langchain_mistralai
langchain_gigachat

duckduckgo-search

faiss-cpu
pymupdf
Pillow
torch
transformers
protobuf 
sentencepiece
accelerate
grpcio
yandexcloud
trafilatura

palimpsest@git+https://github.com/gbvolkov/PalimpsestLib.git

aiogram
telegramify-markdown
telegramify-markdown[mermaid]

google-auth-httplib2
google-api-python-client

pandas

spacy
scispacy
rank_bm25
pymorphy2